.container {
  background-color: rgb(42, 53, 110);
  height: 50px;
  /* display: flex; */
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  color: white;
}

.profileMisc {
  display: flex;
  margin-left: auto;
}
